table {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 20px;
  border-collapse: collapse;
 border-color: white;
  border-width: 2px;
}

.table{
  display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}



td,th{
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

th{
  font-size: 20px;
  
}

a{
  color: white;
}

/* Make the div fill the full page */
body, html {
  margin: 0;
}

body{

  background: linear-gradient(
    -45deg,
    #008080,   /* teal */
    #003366,   /* dark blue */
    #1f3a3d,   /* peacock */
    #006d77    /* teal-peacock blend */
  );
  background-size: 400% 400%;

  animation: gradientShift 12s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2{
  color: white;
  display: block;
  padding: 10px;
}

a:hover{
  color: yellow;
}

a:visited{
  color: yellow;
}

